{% extends 'social/base.html' %}

{% block title %}Login Now!{% endblock %}

{% block login-link %}active{% endblock %}

{% block body2 %}

{% load crispy_forms_tags %}

<br>
  <form method="post">
    <legend class="border-bottom mb-4">Login <small style="font-size: 15px;" class="text-muted">Dont Have an account? <a style="color: #398fecd1;text-decoration: none;" href="{% url 'users:users-signup' %}">register</a></small></legend>
    <fieldset>
      {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary form-control">Sign Up</button>
    </fieldset>
  </form>
  <br>
  <br>
{% endblock %}
