{% extends 'social/base.html' %}

{% load crispy_forms_filters %}

{% block title %}Edit Profile{% endblock %}

{% block profile-link %}active{% endblock %}

{% block body2 %}
{% for msg in messages %}
  <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
  {% if msg.tags == 'success' %}
    saved!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% else %}
<div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
    error occured!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
{% endfor %}
<br>
<div class="card">
  <div class="card-body">
    <div class="content-section">
      <div class="media">
        <img height="120px;" width="120px;" class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p style="margin-left: 10px;" class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <br>
    </div>
    <a href="{% url 'users:users-logout' %}" class="btn btn-secondary">Logout</a>
    <a class="ml-4 btn btn-success" href="{% url 'users:users-user' username=user.username %}">All Posts!</a>
  </div>
  </div>
  <br>
    <div class="card">
    <form class="card-body" method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Profile</legend>
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-secondary form-control" type="submit">Update</button>
      </div>
    </form>
  </div>
  <br>
{% endblock %}
