{% extends 'social/base.html' %}

{% block title %}Join Now!{% endblock %}

{% block body2 %}

{% load crispy_forms_tags %}
<br>
  <form method="post">
    <legend class="border-bottom mb-4">Join Now! <small style="font-size: 15px;" class="text-muted">Have an account? <a style="color: #398fecd1;text-decoration: none;" href="{% url 'users:users-login' %}">login</a></small></legend>
    <fieldset>
      {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary form-control">Sign Up</button>
    </fieldset>
  </form>
  <br>
{% endblock %}
