{% extends 'social/base.html' %}

{% block title %}the2nerds{% endblock %}
{% block about %}active{% endblock %}

{% block body2 %}
<h1>About the2nerds</h1>
<br><br>
<div class="media">
  <div class="media-body">
    <h3 class="mt-0">About the creator</h3>
    <p>
        my name is Hussein i made this website as a blog for me, my freinds and everyone on the internet. im an intermediate programmer. i love open source, raspberry pi and inventing stuff.
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#434B57', 'memesterhub');kofiwidget2.draw();</script>
    </p>
  </div>
</div>
<h1>Why the2nerds?</h1>
<p>you may be like why the2nerds? what does this name mean? me and my freind <a href="https://instagram.com/mahdiroyale2">mahdi</a> was talking about a website that we can post blogs on and stuff and i was like i will make that website so i named it the2nerds because he gave me the idea of this website. and im not creative so i didnt have any other name in my head.</p>
{% endblock %}
