{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'social/css/social.css' %}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'social/css/bootstrap.min.css' %}">
    {% block optional %}{% endblock %}
  </head>

<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container">
      <a class="navbar-brand {% block about %}{% endblock %}" href="{% url 'social:social-about' %}"><img height="35px" width="35px" src="/media/code-solid.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item {% block home-link %}{% endblock %}" active-color="black">
              <a class="nav-link" href="{% url 'social:social-home' %}"><b>Home</b></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% block profile-link %}{% endblock %}" active-color="black">
              <a class="nav-link" href="{% url 'users:users-profile' %}"><b>Profile</b></a>
            </li>
            <li class="nav-item {% block new-link %}{% endblock %}" active-color="black">
              <a class="nav-link" href="{% url 'posts:posts-new' %}"><b>New</b></a>
            </li>
              {% else %}
            <li class="nav-item {% block login-link %}{% endblock %}" active-color="black">
              <a class="nav-link" href="{% url 'users:users-login' %}"><b>Login</b></a>
            </li>
            {% endif %}
            <span class="nav-indicator"></span>
          </ul>
        </div>
    </div>
  </nav>
</header>

<main role="main" class="flex-shrink-0" style="margin-top: 90px;">
  <div class="container">
    <div class="row">
      {% block body %}{% endblock %}
    </div>
    <div class="container">
      {% block body2 %}{% endblock %}
    </div>
    <section class="text-center">
      {% block paginator %}
      {% endblock %}
    </section>
  </div>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'social/js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'social/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
          "use strict";

      var indicator = document.querySelector('.nav-indicator');
      var items = document.querySelectorAll('.nav-item');

      function handleIndicator(el) {
        items.forEach(function (item) {
          item.classList.remove('is-active');
          item.removeAttribute('style');
        });
        indicator.style.width = "".concat(el.offsetWidth, "px");
        indicator.style.left = "".concat(el.offsetLeft, "px");
        indicator.style.backgroundColor = el.getAttribute('active-color');
        el.classList.add('active');
        el.style.color = el.getAttribute('active-color');
      }

      items.forEach(function (item, index) {
        item.addEventListener('click', function (e) {
          handleIndicator(e.target);
        });
        item.classList.contains('active') && handleIndicator(item);
      });

    </script>
</body>
