{% extends 'social/base.html' %}

{% block title %}the2nerds{% endblock %}
{% block home-link %}active{% endblock %}

{% load humanize %}

{% block body %}
  {% for p in post %}
  <br>
       <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <p><img class="rounded-circle" height="25px;" src="{{ p.author.profile.profile_pic.url }}"> <a href="{% url 'users:users-user' username=p.author %}" style="text-decoration: none;">@{{ p.author }}</a></p>
            </div>
            <div class="card-body">
         <h5 class="card-title"><a href="{% url 'posts:posts-detail' pk=p.pk %}" style="text-decoration:none;">{{ p.title }}</a></h5>
        <p class="card-text">{{ p.content|linebreaks }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Posted {{ p.date|timesince }} ago</small>
              </div>
            </div>
          </div>
          </div>
{% endfor %}
{% endblock %}

{% block paginator %}
  {% if is_paginated %}

  <div style="align-content: center;">
    <div class="btn-group mr-2" style="align-items: center;" role="group" aria-label="First group">
      {% if page_obj.has_previous %}
        <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}"><<</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-secondary" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-secondary" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">>></a>
      {% endif %}
  </div>
  <br>
  <br>
</div>
  {% endif %}
{% endblock %}
