{% extends 'social/base.html' %}

{% block title %}Delete Post{% endblock %}

{% block body2 %}

<br>
  <form method="post">
    <legend><h1>Delete Post</h1></legend>
    <hr>
      {% csrf_token %}
      <a class="btn btn-info" href="{% url 'posts:posts-detail' pk=post.pk %}">Cancel</a>
      <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <br>
{% endblock %}
