{% extends 'social/base.html' %}

{% block title %}New Post{% endblock %}

{% block new-link %}active{% endblock %}

{% block body2 %}

{% load crispy_forms_tags %}
<br>
  <form method="post">
    <legend><h1>New Post</h1></legend>
    <hr>
    <fieldset>
      {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary form-control">New Post</button>
    </fieldset>
  </form>
  <br>
{% endblock %}
