{% extends 'social/base.html' %}

{% block title %}Post by {{ post.author }}{% endblock %}

{% block body2 %}
  <br>
  <div class="card">
    <div class="card-header">
        <p><img class="rounded-circle" height="25px;" width="25px;" src="{{ post.author.profile.profile_pic.url }}"><a href="#" style="text-decoration: none;">@{{ post.author }}</a> Posted {{ post.date|timesince }} ago</p>
     </div>
     <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content|linebreaks }}</p>
        {% if post.author == user %}
          <a class="btn btn-danger" href="{% url 'posts:posts-del' pk=post.pk %}">Delete</a>
          <a class="btn btn-info" href="{% url 'posts:posts-update' pk=post.pk %}">Update</a>
        {% endif %}
    </div>
</div>
{% endblock %}
