{% extends 'social/base.html' %}

{% block title %}Update Post{% endblock %}

{% block body2 %}

{% load crispy_forms_tags %}
<br>
  <form method="post">
    <legend><h1>Update Post</h1></legend>
    <hr>
    <fieldset>
      {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary form-control">Update Post</button>
    </fieldset>
  </form>
  <br>
{% endblock %}
